<li class="uk-flex uk-flex-between">
<p hx-swap="outerHTML"> {{ workflow_run.name }}</p>
<button class="uk-icon-button" uk-icon="icon: play-circle" hx-post="/run/{{ workflow_run.id }}"></button>
<button class="uk-icon-button" uk-icon="icon: close" hx-post="/cancel_run/{{ workflow_run.id }}"></button>
<button class="uk-icon-button" uk-icon="icon: trash" hx-delete="/delete_run/{{ workflow_run.id }}"></button>
<button class="uk-icon-button" uk-icon="icon: file-text" hx-get="/get_results/{{ workflow_run.id }}" hx-target="body" hx-swap="beforeend"></button>
</li>