{% extends 'base.html' %}

{% block style %}
  <style>
    li.htmx-swapping {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-margin-top">
    <form id="workflowForm" class="uk-form-horizontal" hx-post="/add_workflow" hx-swap="beforeend" hx-target="#workflowItems" hx-trigger="submit">
      <div class="uk-margin uk-inline uk-width-1-1" uk-margin>
        <span class="uk-form-icon" uk-icon="icon: plus"></span>
        <input id="contentInput" autocomplete="off" class="uk-input" type="text" name="content" placeholder="New workflow name">
      </div>
    </form>
    <ul id="workflowItems" class="uk-list uk-list-divider" hx-target="closest li" hx-swap="outerHTML">
      {% for workflow in workflows %}
        {% include 'workflow/item.html' with context %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    htmx.on('htmx:afterSwap', function(event) {
      document.getElementById("contentInput").value = ""
    });
  </script>
{% endblock %}
